   <div class="footer">
      <div class="footer__logo">
        <div class="footerLogo">
        <img src="./img/logo-green-round.png" class="flogoimg" style="width: 70px; height: 70px;" alt="Natours logo" />
        <span style="font-size: 30px ;"> GUZ TOUR</span>
      </div></div>
      <ul class="footer__nav">
        <li><a href="#">About us</a></li>
        <li><a href="#">Download apps</a></li>
        <li><a href="#">Become a guide</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <p class="footer__copyright">
        &copy;By AASTU Students. All rights reserved.
      </p>
    </div>