 <header class="header">
      <nav class="nav nav--tours">
        <a href="/" class="nav__el">All tours</a>
        <form class="nav__search">
     
        </form>
      </nav>
      <div class="header__logo">
        <img src="img/logo-white.png" alt="Guzo tour logo" />
      </div>
      <nav class="nav nav--user">
        
     <nav class="nav nav--user">        
          <a href="view/admin/adminProfile.php" class="nav__el">
          }
          else{
            echo '<a href="view/shared/profile.php" class="nav__el">';
          }
          $filepath = "<img src = "."multimedia/img/users/".$photo." class='nav__user-img'.".">";
          //alt="User photo" class="nav__user-img"
          echo $filepath.'</a>';
          echo '<a href="controller/authController/log_out.php" class="nav__el">Logout</a>';
        }else{
          echo '<a href="./view/shared/login.php" class="nav__el">Login</a>';
          echo '<a href="./view/shared/register.php" class="nav__el">Sign Up</a>';
        }
        ?>
    </nav>
        </a>
        <a href="" class="nav__el"></a>
        <a href="" class="nav__el"></a>
        <a href="" class="nav__el"></a>        
      </nav>
    </header>