<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
      <style>
        #header{
          text-align: center;
          color: green;
         margin-top: 2%;
         font-size: 50px;
        }
      </style>
    <title>Error</title>
</head>
<body>
  <h1 id="header"><%= errorMessage%></h1>
    <div class="flex flex-col justify-center items-center">
        <div class="flex items-center w-[1100px]">
            <img src="../img/travel3.svg" alt="" class="w-96 ">
            
            <img src="../img/404.png" alt="" class = 'animate-pulse'>
        </div>
    </div>
</body>
</html>
